.appLayout {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;

  background-color: var(--background-surface);

  .mainContent {
    overflow: hidden;
    display: flex;
    flex: 1;

    box-sizing: border-box;
    margin: 0;
    padding: 0 40px;

    background-color: var(--background-surface);
  }

  .sidebarWrapper {
    flex: 0.3;
    flex-shrink: 0;
    max-width: 250px;
    background-color: var(--background-surface);
  }

  .content {
    flex: 1;
    width: 100%;
    background-color: var(--background-surface);
  }
}

.appLayoutNoHeader {
  background-color: var(--background-surface-3);

  .mainContent {
    padding: 0 40px;
    background-color: var(--background-surface-3);
  }
}
