.menuContainer {
  margin-top: 45px;
  right: 100px;
}

.menuPaper {
  border-radius: 12px;
  padding: 0px 8px;
  max-width: 230px;
  height: 92px;
  box-shadow: 2px 2px 10px 0 rgba(54, 50, 47, 0.1);
  background: #fff;
}

.menuItem {
  border-radius: 8px;
  padding: 8px 12px;
  width: 214px;
  height: 36px;
  background: #fff;
  display: flex;
  align-items: center;

  &:hover {
    background: var(--text-light);
  }
  &:active {
    background: var(--secondary-default);
  }
}