%hover {
  box-shadow: 2px 2px 10px 0 rgba(54, 50, 47, 0.1);
  background-color: #4c4dd6;
}

%active {
  box-shadow: 2px 2px 10px 0 rgba(54, 50, 47, 0.1);
  background-color: #3f41d6;
}

%__disabled {
  background-color: #8f90fb;
  color: rgba(250, 251, 255, 0.4);
}

%hover_outlined {
  box-shadow: 2px 2px 10px 0 rgba(54, 50, 47, 0.1);
}

%active_outlined {
  box-shadow: 2px 2px 10px 0 rgba(54, 50, 47, 0.1);
  background: #f2f2ff;
}

%__disabled_outlined {
  border: 1px solid #cfd5ec;
  color: rgba(22, 18, 44, 0.4);
}

%hover_secondary {
  box-shadow: 2px 2px 10px 0 rgba(54, 50, 47, 0.1);
background: #dadafb;
}

%active_secondary {
  box-shadow: 2px 2px 10px 0 rgba(54, 50, 47, 0.1);
background: #ceceff;
border: none;
}

%__disabled_secondary {
  background-color: #e8e8ff;
  color: rgba(63, 65, 214, 0.4);
}

.header__button {
  border-radius: 12px;
  padding: 8px 16px;
  max-width: 119px;
  height: 40px;
  min-width: 60px;
  background-color: #5e5fdb;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fafbff;

  &:hover {
    @extend %hover;
  }

  &:active {
    @extend %active;
  }

  &__disabled {
    @extend %__disabled;
  }
}

.authorization__button {
  border-radius: 12px;
  padding: 8px 16px;
  width: 420px;
  height: 40px;
  min-width: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fafbff;
  background-color: #5e5fdb;

  &:hover {
    @extend %hover;
  }

  &:active {
    @extend %active;
  }

  &__disabled {
    @extend %__disabled;
  }
}

.confirm__button {
  border-radius: 12px;
  padding: 8px 16px;
  width: 163px;
  height: 40px;
  min-width: 60px;
  background-color: #5e5fdb;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fafbff;

  &:hover {
    @extend %hover;
  }

  &:active {
    @extend %active;
  }

  &__disabled {
    @extend %__disabled;
  }
}

.decline__button {
  border: 1px solid #cfd5ec;
  border-radius: 12px;
  padding: 8px 16px;
  width: 163px;
  height: 40px;
  min-width: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #16122c;

  &:hover {
    @extend %hover_outlined;
  }

  &:active {
    @extend %active_outlined;
  }

  &__disabled {
    @extend %__disabled_outlined;
  }
}

.addUser__button {
border-radius: 12px;
padding: 8px 16px;
width: 220px;
height: 36px;
min-width: 60px;
background-color: #5e5fdb;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 129%;
text-align: center;
color: #fafbff;
display: flex;
align-items: center;
justify-content: space-around;

&:hover {
    @extend %hover;
  }

  &:active {
    @extend %active;
  }

  &__disabled {
    @extend %__disabled;
  }
}

.addDocument__button {
border-radius: 12px;
padding: 8px 16px;
width: 193px;
height: 36px;
min-width: 60px;
background-color: #5e5fdb;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 129%;
text-align: center;
color: #fafbff;
display: flex;
align-items: center;
justify-content: space-around;

&:hover {
    @extend %hover;
  }

  &:active {
    @extend %active;
  }

  &__disabled {
    @extend %__disabled;
  }
}

.deleteDocument__button {
border-radius: 12px;
padding: 8px 16px;
max-width: 160px;
height: 36px;
min-width: 60px;
background-color: #e8e8ff;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 129%;
text-align: center;
color: rgba(63, 65, 214, 0.4);

&:hover {
    @extend %hover_secondary;
  }

  &:active {
    @extend %active_secondary;
  }

  &__disabled {
    @extend %__disabled_secondary;
  }
}