.dropdownRole_border {
  position: relative;

  // border: 2px solid var(--accent-focused);
  border: 1px solid var(--divider-default);
  border-radius: 12px;

  font-size: 14px;

  background: #fff;
  box-shadow: 2px 2px 10px 0 rgb(54 50 47 / 10%);

  &:focus-within {
    border-color: var(--accent-hover);
  }

  :global {
    .MuiInputLabel-root {
      &.MuiInputLabel-root {
        transform: translate(14px, 12px) scale(1);
        color: var(--text-disabled-dark);

        @media (width <= 899px) {
          transform: translate(14px, 9px) scale(1);
        }

        @media (width <= 599px) {
          transform: translate(14px, 5px) scale(1);
        }
      }

      &.MuiInputLabel-shrink {
        transform: translate(14px, -6px) scale(0.75);
        padding: 0 4px;
        color: var(--accent-focused);
        background: #fff;
      }
    }
  }
}

.dropdownContainer {
  position: absolute;
  top: 0;
  left: 0;

  height: auto;
  margin-top: 8px;
  padding: 8px;
  border-radius: 12px;

  .dropdownContainer__item {
    width: 100%;
    min-height: 24px;
    border-radius: 8px;

    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 133%;
    color: var(--text-dark);

    &.Mui-selected {
      background-color: var(--tertiary-active);
    }

    &:hover {
      background-color: var(--tertiary-hover);
    }

    &:active {
      background-color: var(--tertiary-active);
    }

    @media (width <= 600px) {
      height: 24px;
    }
  }
}

.placeholder {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 129%;
  color: var(--text-disabled-dark);

  @media (width <= 900px) {
    font-size: 12px;
  }

  @media (width <= 600px) {
    font-size: 10px;
  }
}

.menu {
  height: 36px;
  font-size: 14px;

  @media (width <= 900px) {
    height: 32px;
    font-size: 12px;
  }

  @media (width <= 600px) {
    height: 24px;
    font-size: 10px;
  }
}

.selectLabel {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  color: var(--text-disabled-dark);
}
