.form {
  .inputPassword {
    margin-bottom: var(--spacing-7x);
  }

  .hintContainer {
    min-height: 82px;
    margin-top: -8px;
    margin-bottom: var(--spacing-7x);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
  }

  .hint {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 12px;
  }

  .hintList {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .hintItem {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }

  .hintItem svg {
    margin-bottom: 2px;
  }

  .greenIcon {
    width: 24px;
    height: 24px;
  }
}
