@font-face {
  font-family: 'Heading Now';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../assets/fonts/heading-now/woff2/Heading-Now-82-Light.woff2') format('woff2'),
    url('../assets/fonts/heading-now/woff/Heading-Now-82-Light.woff') format('woff'),
    url('../assets/fonts/heading-now/otf/Heading-Now-82-Light.otf') format('opentype'),
    url('../assets/fonts/heading-now/ttf/Heading-Now-82-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Heading Now';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../assets/fonts/heading-now/woff2/Heading-Now-84-Regular.woff2') format('woff2'),
    url('../assets/fonts/heading-now/woff/Heading-Now-84-Regular.woff') format('woff'),
    url('../assets/fonts/heading-now/otf/Heading-Now-84-Regular.otf') format('opentype'),
    url('../assets/fonts/heading-now/ttf/Heading-Now-84-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Heading Now';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('../assets/fonts/heading-now/woff2/Heading-Now-85-Medium.woff2') format('woff2'),
    url('../assets/fonts/heading-now/woff/Heading-Now-85-Medium.woff') format('woff'),
    url('../assets/fonts/heading-now/otf/Heading-Now-85-Medium.otf') format('opentype'),
    url('../assets/fonts/heading-now/ttf/Heading-Now-85-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Heading Now';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('../assets/fonts/heading-now/woff2/Heading-Now-86-Bold.woff2') format('woff2'),
    url('../assets/fonts/heading-now/woff/Heading-Now-86-Bold.woff') format('woff'),
    url('../assets/fonts/heading-now/otf/Heading-Now-86-Bold.otf') format('opentype'),
    url('../assets/fonts/heading-now/ttf/Heading-Now-86-Bold.ttf') format('truetype');
}
